wellcome to HR system  please log in 
<form action="/signup" method="post">
    <input type="text" name="comp_name" placeholder="complany name " required>
    <input type="text" name="f_name" placeholder="first name " required>
    <input type="text" name="l_name" placeholder="last name "required >
    <input type="password" name="password" placeholder="password  " required>
    <input type="number" name="mob_num" placeholder="mobile num "  required>
    <input type="email" name="email" placeholder="email "required >
    
    <select name="role" >
        <option value="HR">HR</option>
        <option value="employee">employee</option>
    </select>
    <button type="submit">signup </button>
    already have account <a href="/">login</a>
</form>